<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rango</title>
</head>
<body>
    <div>
        {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        {% else %}
            <strong>The specified cartegory doesn't exist</strong>
        {% endif %}
        </ul>
        {% endif %}
    </div>
    <div>
        <a href="add_page/">Add page</a><br>
        <a href="/rango">Index</a>
    </div>
</body>
</html>